section.section.projects__root#projects
    div.container.projects__container
        h2.title.is-3 Mes projets :
        ul.projects__container__list
            li.projects__item
                div.projects__item__illu.card-image
                    figure.image.is-4by3
                        img(src="images/projects/default.png" alt="Illustration du projet")
                div.card-content
                    div.title.is-4
                        p.projects__title Lorem ipsum
                    div.content
                        p.projects__item--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        div
                            a.button.is-primary.is-outlined(href="" target="_blank" title="Lien vers le projet sur Github") Découvrir