doctype html
html(lang="fr")
  head
    title Benjamin Catouillard - #{title}
    block css
      link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes")
    meta(name="Content-Type" content="text/html; charset=utf-8")
    meta(name="description" content=description)
    meta(name="robots" content="NOINDEX,NOFOLLOW")
  body
    nav.navbar.is-transparent.is-fixed-top(role="navigation" aria-label="main navigation")
      div.navbar-brand
        a.navbar-item(href="#home")
          | Benjamin Catouillard
    
          a.navbar-burger.burger(role="button" aria-label="menu" aria-expanded="false" data-target="navMenu")
            span(aria-hidden="true")
            span(aria-hidden="true")
            span(aria-hidden="true")
    
      div#navMenu.navbar-menu
        div.navbar-start
          a.navbar-item(href="#about")
            | A propos
          a.navbar-item(href="#skills")
            | Compétences

          a.navbar-item(href="#projects")
            | Projets
    
          a.navbar-item(href="#contact")
            | Contact

    ul.return-top#toTop
      li
        a(href="#home" title="Retourner en haut").icon.fa-2x
          i.far.fa-arrow-alt-circle-up.is-large(aria-hidden="true")

    include includes/index.pug

    include includes/skills.pug

    include includes/projects.pug

    include includes/contact.pug

    footer.footer
      div.container
        div.footer__container__content.columns.is-mobile
          div.column.has-text-centered
            a(href="https://www.linkedin.com/in/bcatouillard/" target="_blank" title="Lien vers LinkedIn" rel="noreferrer noopener")
              span.icon.fa-2x
                i.fab.fa-linkedin-in.is-large(aria-hidden="true")
          div.column.has-text-centered.only-desk
            p Tous droits réservés - Benjamin Catouillard
          div.column.has-text-centered
            a(href="https://www.github.com/bcatouillard" target="_blank" title="Lien vers Github" rel="noreferrer noopener")
              span.icon.fa-2x
                i.fab.fa-github.is-large(aria-hidden="true")

    script(src="js/navbar.js")
    script(src="js/showHero.js")
    script(src="js/to_top.js")
    script(defer src="assets/@fortawesome/fontawesome-free/js/all.min.js")