section.section.hero#home
  div.hero-body
    div.container
      h1.title#heroTitle 
      h2.subtitle#heroSubtitle 


section.section.about__root#about
  div.container.about__container
    h2.title.is-3 A propos de moi 
    div.columns.about__columns
      div.column
        p.about__text Je suis 
          strong Benjamin Catouillard
          |, j'ai 22 ans et je suis étudiant dans le domaine du développement web. 
          | Je suis 
          b diplômé 
          | d'un titre RNCP de niveau 2 : Responsable de Projets Informatiques d'Enigma School et actuellement en 5ème année chez Enigma School. 
          br
          br
          b Passionné par le développement
          |, je suis actuellement en alternance chez Kyndryl en tant que Analyste Système et DevOps.
          br
      div.column
        img(src="images/benjamin.webp" alt="Benjamin Catouillard")