.hero{
    height: 100vh;

    &-body{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .container{
           .title, .subtitle{
                color: $color-white;
           }
        }
    }
}